version: '3.8'

services:
  chatbot_service:
    build:
      context: ./module_1_chatbot
    container_name: chatbot_service
    # Use conda to run flask on port 5002
    command: conda run --no-capture-output -n pcd flask run --host=0.0.0.0 --port=5002
    ports:
      - "5002:5002"
    env_file:
      - .env
    environment:
      - FLASK_APP=app:app
    networks:
      - pcd_network
    volumes:
      # Mount the module directory to /usr/src/app (WORKDIR in Dockerfile)
      - ./module_1_chatbot:/usr/src/app

  web_service:
    build: .
    container_name: web_service
    command: /opt/conda/envs/pcd/bin/flask run --host=0.0.0.0 --port=5000
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - FLASK_APP=app
      - FLASK_ENV=development
      - SERVICE_TYPE=web
    networks:
      - pcd_network
    volumes:
      - ./:/usr/src/app
    depends_on:
      - chatbot_service
      - db

  module_3_reporting:
    build:
      context: ./module_3_reporting
    container_name: module_3_reporting
    command: conda run --no-capture-output -n pcd flask run --host=0.0.0.0 --port=5003
    ports:
      - "5003:5003"
    env_file:
      - .env
    environment:
      - FLASK_APP=micro_app:app
      - FLASK_ENV=development
      - PYTHONPATH_MAIN=/usr/src/app_main
      - DATABASE_URL=postgresql://user:password@flask_db:5432/flaskdb
    networks:
      - pcd_network
    volumes:
      - ./module_3_reporting:/usr/src/app
      - ./:/usr/src/app_main
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: flask_db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=flaskdb
    ports:
      - "5432:5432"
    networks:
      - pcd_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  pcd_network:
    driver: bridge

volumes:
  postgres_data:
