version: '3.8'

services:
  chatbot_service:
    build: .
    container_name: chatbot_service
    command: /opt/conda/envs/pcd/bin/flask run --host=0.0.0.0 --port=5002
    ports:
      - "5002:5002"
    environment:
      - FLASK_APP=app
      - FLASK_ENV=development
      - SERVICE_TYPE=chatbot
      - GROQ_API_KEY=${GROQ_API_KEY}
    networks:
      - app_network
    volumes:
      - ./:/usr/src/app

  web_service:
    build: .
    container_name: web_service
    command: /opt/conda/envs/pcd/bin/flask run --host=0.0.0.0 --port=5000
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app
      - FLASK_ENV=development
      - SERVICE_TYPE=web
      - GROQ_API_KEY=${GROQ_API_KEY}
    networks:
      - app_network
    volumes:
      - ./:/usr/src/app
    depends_on:
      - chatbot_service
      - db

  db:
    image: postgres:15
    container_name: flask_db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=flaskdb
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
