Flask==3.0.0
Werkzeug==3.0.1
flask-cors
flask-sqlalchemy
flask-login
flask-migrate
psycopg2-binary
SQLAlchemy
groq
langchain-groq
openai
python-dotenv
requests
fpdf2
Pillow
gunicorn
python-dateutil
numpy
pandas
pygltflib==1.16.5
pypdf>=4.1.0
